<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>input可以動態綁定，不一定都要一開始就寫死</h1>
    <div id="app" v-cloak>
      <!-- checkbox -->
      <section>
        <h2>checkbox</h2>
        <label v-for="sport in sports" :for="sport">
          <input
            type="checkbox"
            v-model="selectedSports"
            :value="sport"
            :id="sport"
          />
          {{sport}}
        </label>
        <p>selected:{{selectedSports}}</p>
      </section>

      <!-- radio -->
      <section>
        <h2>radio button</h2>
        <label v-for="gender in genders" :for="gender">
          <input
            type="radio"
            name="gender"
            :id="gender"
            :value="gender"
            v-model="selectedGender"
          />{{gender}}
        </label>
        <p>selected:{{selectedGender}}</p>
      </section>
      <!-- select -->
      <section>
        <h2>select</h2>
        <select name="food" id="food" v-model="selectedFood">
          <option value="" disabled selected>select main dish</option>
          <option v-for="food in foodList" :value="food">{{food}}</option>
        </select>
        <p>main dish: {{selectedFood}}</p>
      </section>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.js"
      integrity="sha512-o9SZrtqlGkpa7EF+dDrNjEdRFFYhymlrBzDKpolHNolxsyx0IcXAbEm9i1e8QpoiMgEdKZVtY8XiK1t8i6jVDA=="
      crossorigin="anonymous"
    ></script>
    <script>
      let vm = new Vue({
        el: "#app",
        data: {
          sports: ["桌球", "足球", "羽球", "棒球"],
          selectedSports: [],
          genders: ["male", "female", "X"],
          selectedGender: "",
          foodList: ["steak", "seafood", "BBQ", "sushi"],
          selectedFood: "",
        },
        methods: {},
      });
    </script>
  </body>
</html>
